<div class="jumbotron container-fluid">
  <form #loginFrom="ngForm" class="form-signin" (ngSubmit)="forgetPassword()">
    <h3 class="h3 mb-3 font-weight-normal">忘記密碼</h3>
    <div class="form-group">
      <label for="username">請輸入您的行動電話或電子郵件</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="行動電話" required="" autofocus=""
        [(ngModel)]="model.username">
    </div>

    <!--
    <div class="form-group">
        <label for="email">請輸入您的電子郵件</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="行動電話"
          required="" autofocus="" [(ngModel)]="model.email">
    </div>
    <div class="form-group">
        <label for="phone">請輸入您的行動電話</label>
        <input type="text" id="phone" name="phone" class="form-control" placeholder="行動電話"
          required="" autofocus="" [(ngModel)]="model.phone">
    </div>
    -->

    <div class="form-group">
      <label for="firstName">請輸入您的姓氏</label>
      <input type="password" name="firstName" id="firstName" class="form-control" placeholder="原通行密碼" required=""
        [(ngModel)]="model.firstName">
    </div>
    <div class="form-group">
      <label for="lastName">請輸入您的名字</label>
      <input type="password" name="lastName" id="lastName" class="form-control" placeholder="新通行密碼" required=""
        [(ngModel)]="model.lastName">
    </div>
    <div class="form-group">
      <label for="birthYear">請輸入您的出生年</label>
      <input type="password" name="birthYear" id="birthYear" class="form-control" placeholder="新通行密碼" required=""
        [(ngModel)]="model.birthYear">
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">取得新密碼</button>
  </form>
</div>
