nav {
  display: inline-block;


    /*
    box-shadow: 0px 2px 4px 0px rgba(rgb(207, 60, 60), .5);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    min-height: 3.5rem;
    */
}

nav ul {
  list-style-type: none;
}

.split{
  float: right;
}

