.myContainer{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 52px auto auto;
  grid-gap: 1px;
  grid-template-areas:
  "header header"
  "main sidebar"
  "footer footer";
}

@media (max-width: 768px) {
  .myContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto auto auto;
    grid-gap: 1px;
    grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer"
  }
}

.header {
  grid-area: header;
  background-color: #aeaeae;
  /*
  position: -webkit-sticky;
  position: sticky;
  */
}
.mainContent{
  grid-area: main;
  background-color: #aeaeae;
}
.sidebar{
  grid-area: sidebar;
  background-color: #aeaeae;
}
.footer{
  grid-area: footer;
  background-color: #aeaeae;
}
