<div class="card-img-wrapper">
    <img class="card-img-top" src="{{party.pictureUrl || '../../assets/p001.png'}}" alt="{{party.partyName}}">
  </div>
  <div class="card-body p-1">
    <h4 class="card-title text-center mb-1 text-danger ">
      {{party.partyName}}
    </h4>
    <div class="card-text text-center">派對日期: <strong>{{party.partyDate  | date:"yyyy-MM-dd, EEEE"}}</strong></div>
    <div class="card-text text-center">派對時間: <strong>{{party.beginTime}} - {{party.endTime}}</strong> </div>
    <div class="card-text text-center">參加條件: <strong>{{party.marry | marryCondition}}</strong></div>
    <div class="card-text text-center">預定人數: <strong>{{party.persons}} 人</strong></div>
    <p></p>
    <div class="card-text text-center">男生學歷: <strong>{{party.manEducaton | education}} 以上</strong></div>
    <div class="card-text text-center">男生年齡: <strong>{{party.manAge1}} - {{party.manAge2}} 歲</strong></div>
    <div class="card-text text-center">女生學歷: <strong>{{party.womanEducaton | education}} 以上</strong></div>
    <div class="card-text text-center">女生年齡: <strong>{{party.womanAge1}} - {{party.womanAge2}} 歲</strong></div>
    <p></p>
    <div class="card-text text-center">派對餐廳: <strong>{{party.restaurant}}</strong></div>
  </div>
