<div class="d-flex" id="wrapper" #wrapper>
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading bg-success"><strong>派對主選單</strong></div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light" [routerLink]="['home']"
        routerLinkActive="router-link-active">單身派對活動
      </a>
      <a class="list-group-item list-group-item-action bg-light" [routerLink]="['party','activityList']"
        routerLinkActive="router-link-active">互動派對投票
      </a>
      <a class="list-group-item list-group-item-action bg-light" [routerLink]="['party','historyList']"
        routerLinkActive="router-link-active">歷史派對相簿
      </a>
      <!--
        <div *ngIf="authService.isLoggedIn()">
        </div>
      -->
      <div>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['member','myPartyList']"
          routerLinkActive="router-link-active">我的報名活動
        </a>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['messages']"
          routerLinkActive="router-link-active">我的留言管理
        </a>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['member','myEdit']"
          routerLinkActive="router-link-active">我的個人資料
        </a>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['match','myCondition']"
          routerLinkActive="router-link-active">我的配對條件
        </a>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['match','myMatchList']"
          routerLinkActive="router-link-active">我的配對結果
        </a>
      </div>

      <a class="list-group-item list-group-item-action bg-light" [routerLink]="['notes','before']"
        routerLinkActive="router-link-active">行前須知
      </a>
      <a class="list-group-item list-group-item-action bg-light" [routerLink]="['notes','meet']"
        routerLinkActive="router-link-active">活動禮儀
      </a>
      <a class="list-group-item list-group-item-action bg-light" [routerLink]="['notes','after']"
        routerLinkActive="router-link-active">約會注意事項
      </a>

      <a class="list-group-item list-group-item-action bg-light" [routerLink]="['login','login']"
        routerLinkActive="router-link-active">使用者登入
      </a>
      <a class="list-group-item list-group-item-action bg-light" [routerLink]="['login','register']"
        routerLinkActive="router-link-active">新人註冊
      </a>
      <a class="list-group-item list-group-item-action bg-light" (click)="logout()">登出系統
      </a>
      <div *ngIf="authService.isLoggedIn() && authService.decodedToken.role === 'Admin'">
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['admin','party']"
          routerLinkActive="router-link-active">活動派對建檔
        </a>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['admin','member']"
          routerLinkActive="router-link-active">會員資料維護
        </a>
      </div>

      <!--
      <a class="list-group-item list-group-item-action bg-light"
        [routerLink]="['member','partyList']"
        routerLinkActive="router-link-active">我的報名繳費
      </a>
      <a class="list-group-item list-group-item-action bg-light"
        [routerLink]="['home']"
        routerLinkActive="router-link-active">愛情心情貼文
      </a>

      <a class="list-group-item list-group-item-action bg-light"
        [routerLink]="['test','dynamic-form']"
        routerLinkActive="router-link-active">dynamic form
      </a>
      <a class="list-group-item list-group-item-action bg-light"
        [routerLink]="['test','checkbox-form-reactive']"
        routerLinkActive="router-link-active">checkbox-form-reactive
      </a>
      <a class="list-group-item list-group-item-action bg-light"
        [routerLink]="['test','checkbox-form-template']"
        routerLinkActive="router-link-active">checkbox-form-template
      </a>
      -->
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand navbar-light bg-warning fixed-top">
      <button *ngIf="sidebarMode === true" class="btn btn-primary" type="button" id="menu-toggle"
        (click)="toggleSideBar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button *ngIf="sidebarMode !== true" class="btn btn-primary" type="button" id="menu-toggle"
        (click)="toggleSideBar()">
        X
      </button>
      <span class="ml-2"> <strong>台北單身派對-{{currentTitle}}</strong></span>
      <span class="ml-auto mr-2">
        <!-- <img src="{{authService.currentUser.photoUrl || '../../assets/user.png'}}" alt=""> -->
        <img src="{{photoUrl}}" alt="" id="topbar-photo">
      </span>
      <a class="text-dark">
        {{authService.decodedToken?.unique_name}}
      </a>

      <div *ngIf="!isLoggedIn()">
        <ul class="navbar-nav mr-auto right">
          <li class="nav-item" routerLinkActive="active">
            <a class="btn btn-primary" [routerLink]="['login/login']">登入</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
      <footer class="bg-light">
        <div>聯絡電話: <strong>0937-452-882 劉小姐</strong></div>
        <div>LINE帳號: <strong>@dtl0852u</strong></div>
        <div>活動網址: <a href="http://myparty.tw">http://myparty.tw</a> </div>
        <address>
          轉帳銀行:<strong>中國信託(代號:822)</strong><br />
          轉帳帳號:<strong>204-54011715-2</strong>
        </address>
      </footer>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>

<!-- /#wrapper -->


<!-- <button class="navbar-toggler" type="button" (click)="topbarMode = !topbarMode"
        [attr.aria-expanded]="!topbarMode" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

<!-- <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="topbarMode" >
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div> -->
