<div class="jumbotron container-fluid">
  <div class="row">
    <div class="card col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let user of userList">
      <div class="card-img-wrapper">
        <img class="card-img-top" src="{{user.mainPhotoUrl || '../../assets/user.png'}}" alt="{{user.nickName}}">
        <!-- <img class="card-img-top" src="{{photoUrl}}" alt="{{member.lastName}}"> -->
      </div>
      <div class="card-body p-1">
        <div class="card-text text-muted text-center"><strong>姓名: {{user.userName}}</strong></div>
        <div class="card-text text-muted text-center"><strong>年齡: {{user.age}} &nbsp;&nbsp; 血型: {{user.blood}}</strong>
        </div>
        <div class="card-text text-muted text-center"><strong>身高: {{user.heights}} CM &nbsp;&nbsp; 體重: {{user.weights}}
            KG</strong></div>
        <div class="card-text text-muted text-center"><strong>星座: {{user.star}}</strong></div>
        <div class="card-text text-muted text-center"><strong>學歷: {{user.education}}</strong></div>
        <div class="card-text text-muted text-center"><strong>職業: {{user.jobType}}</strong></div>
        <div class="card-text text-muted text-center"><strong>居住城市: {{user.city}}</strong></div>
      </div>

      <div class="card-footer">
        <ul class="list-inline member-icons animate text-center">
          <li class="list-inline-item">
            <a class="btn btn-primary" [routerLink]="['/member',user.userId,'detail']">
              &nbsp;<i class="fa fa-user fa-2x"></i>&nbsp;
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
      <pagination [boundaryLinks]="true" [rotate]="true" [maxSize]="1" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
        [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="上頁"
        nextText="下頁" firstText="首頁" lastText="尾頁" >
      </pagination>
</div>
