<div class="jumbotron container-fluid">
  <div class="row">
    <div *ngFor="let item of userList" class="card col-12 col-md-6 col-lg-4 col-xl-3">
      <app-member-card [user]="item"></app-member-card>
      <div class="card-footer">
        <ul class="list-inline member-icons animate text-center">
          <li class="list-inline-item">
            <button class="btn btn-primary"
              [routerLink]="['/member',item.userId,'activity',this.currentPartyId,'memberDetail']">
              &nbsp;<i class="fa fa-user fa-2x"></i>&nbsp;
            </button>
          </li>
          <li class="list-inline-item">
            <button class="btn btn-primary" (click)="sendLike(item.userId)">
              &nbsp;<i class="fa fa-heart fa-2x"></i>
            </button></li>
          <li class="list-inline-item">
            <button class="btn btn-primary"
              [routerLink]="['/member',item.userId,'activity',this.currentPartyId,'memberDetail']"
              [queryParams]="{tab: 3}" routerLinkActive="router-link-active">&nbsp;<i
                class="fa fa-envelope fa-2x"></i>&nbsp;</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
