<div class="jumbotron container-fluid">
  <div class="row">
    <h2>報名核對及現場編號輸入</h2>
  </div>
  <div class="row" *ngFor="let item of activityList; index as i;">
    <form #editFrom="ngForm" class="" >
      <div class="row">
        <div>
            <table class="table table-sm table-striped table-bordered">
                <tr>
                  <td rowspan="4"><img src="{{item.mainPhotoUrl || '../../assets/user.png'}}"></td>
                  <td>姓名</td>
                  <td>出生年</td>
                  <td>學歷</td>
                  <td>婚姻狀況</td>
                  <td>報名日期</td>
                  <td>應繳活動金額</td>
                  <td>首次活動</td>
                </tr>
                <tr>
                  <td>{{item.firstName}}{{item.lastName}} {{item.birthYear}}</td>
                  <td>{{item.sex | sex}}</td>
                  <td>{{item.education | education }}</td>
                  <td>{{item.marry | marry}}</td>
                  <td>{{item.applyDate | date:'yyyy-MM-dd'}}</td>
                  <td>{{item.actAmt}}</td>
                </tr>
                <tr>
                    <td>轉帳銀行</td>
                    <td>後5碼</td>
                    <td>轉帳日期</td>
                    <td>同行者</td>
                    <td>轉帳核對金額</td>
                    <td>座位編號</td>
                    <td>證件核對</td>
                </tr>
                <tr>
                    <td>
                      <!-- <input type="text" name="bankName" [(ngModel)]="item.bankName" readonly> -->
                      {{item.bankName}}
                    </td>
                    <td>
                      <!-- <input type="text" name="bankNumber6" [(ngModel)]="item.bankNumber6" readonly> -->
                      {{item.bankNumber6}}
                    </td>
                    <td>
                      <!-- <input type="text" name="bankDate" [(ngModel)]="item.bankDate" readonly> -->
                      {{item.bankDate}}
                    </td>
                    <td>
                      <!-- <input type="text" name="friendName" [(ngModel)]="item.friendsName" readonly> -->
                      {{item.friendsName}}
                    </td>
                    <td>
                      <input type="number" name="checkOver" [(ngModel)]="item.checkOver">
                    </td>
                    <td>
                      <input type="number" name="myNo" [(ngModel)]="item.myNo">
                    </td>
                    <td>
                        <input type="checkbox" name="myNo" [(ngModel)]="item.myNo">
                    </td>
                  </tr>
                <tr>
                    <td colspan="6">
                      <button type="submit" class="btn-success btn-block">存檔</button>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </form>
  </div>
</div>
