<div class="card-img-wrapper">
  <img class="card-img-top" src="{{user.mainPhotoUrl || '../../assets/user.png'}}" alt="{{user.userName}}">
  <!-- <img class="card-img-top" src="{{photoUrl}}" alt="{{member.lastName}}"> -->
</div>
<div class="card-body p-1">
  <div class="card-text text-muted text-center"><strong>姓名: {{user.userName}}</strong></div>
  <div class="card-text text-muted text-center"><strong>年齡: {{user.age}} &nbsp;&nbsp; 血型: {{user.blood}}</strong>
  </div>
  <div class="card-text text-muted text-center"><strong>身高: {{user.heights}} CM &nbsp;&nbsp; 體重: {{user.weights}}
      KG</strong></div>
  <div class="card-text text-muted text-center"><strong>星座: {{user.star}}</strong></div>
  <div class="card-text text-muted text-center"><strong>學歷: {{user.education | education}}</strong></div>
  <div class="card-text text-muted text-center"><strong>職業: {{user.jobType}}</strong></div>
  <div class="card-text text-muted text-center"><strong>居住城市: {{user.city}}</strong></div>
</div>
