<div class="jumbotron container-fluid">
  <form  #loginFrom="ngForm" class="form-signin" (ngSubmit)="login()">
    <h3 class="h3 mb-3 font-weight-normal">登入作業</h3>
    <div class="form-group">
        <label for="username">請輸入注冊時的行動電話或電子郵件</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="行動電話"
          required="" autofocus="" [(ngModel)]="model.username">
    </div>
    <div class="form-group">
        <label for="password">請輸入注冊時的通行密碼</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="通行密碼"
          required="" [(ngModel)]="model.password">
    </div>
    <div class="form-check">
        <label for="remember-me">記住我</label>
        <input type="checkbox" id="remember-me">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
  </form>
  <p class="mt-3 mb-3">
    <a [routerLink]="['/login/register']" routerLinkActive="router-link-active">若您還沒有本機帳戶請點此註冊。</a>
  </p>
  <p>
    <!-- <a [routerLink]="['/forgetPassword']" routerLinkActive="router-link-active">若您忘記密碼,請點此找回密碼。</a> -->
  </p>
  <p>
    非會員者可以用以下帳號輸入試用<br>
    使用者帳號(男生): 9987654101 ～ 9987654199(共99個帳號)<br>
    使用者帳號(女生): 9987654201 ～ 9987654299(共99個帳號)<br>
    登入通行密碼: password
  </p>
</div>
