<div class="jumbotron container-fluid" style="background-color:pink;">
  <h2>聯誼活動中的須注意事項</h2>
  <hr />
  <p>
      男女雙方本來是陌生的平行線，不管是社群網站認識、朋友的朋友、同事介紹.... 很多時候幾乎是從零開始認識一個人。
  </p>
  <p>
      然而在聯誼茶會中，每個人只有短短的幾分鐘的自我介紹，如何在這有限的時間上，藉由聯誼產生彼此的交集，完整的呈現自己，
      卻又不失禮貌，實屬值得學習之課題。
  </p>
  <p>
      而在聯誼活動中注意的事項不甚枚舉，茲列舉下列數點：
  </p>
  <ol>
      <li>
          準時赴約
          <p>
              參加活動首重準時，為避免忘記或記錯時間，可以在手機設定提醒功能，避
              免遲到。
          </p>
      </li>
      <li>
          儀容及微笑
          <p>
              外表是第一印象，出門前請記得注意服裝儀容，如：穿著保持乾淨得宜、頭髮簡單梳理…等。另外微笑是最美麗的語言，與對方交談時應注視對方，讓人感覺你在傾聽對方聊天的內容。面帶微笑讓人感到親切，除可留給對方良好印象外，並讓人印象深刻。
          </p>
      </li>
      <li>
          注意禮貌
          <p>
              主動跟與對方打招呼，不論自己是否想認識對方，也能禮貌性地交談，先做自我介紹（名字、年次、職業別等），並留資料給對方。不論是否喜歡對方請保持善意，也是對於對方的尊重。
          </p>
      </li>
      <li>
          我的聯誼資料
          <p>
              根據統計，本系統所提供的個人聯誼資料，輸入的愈完整，聯誼活動的人氣就會愈高，
              因為這是代表您的自信及誠意十足，是真的很誠心的來此認識新朋友，因此成功找到另一半的機會就愈大
          </p>
      </li>
      <li>
          做筆記
          <p>
              可藉由聊天時的對話做成筆記，註記在我們聯誼名單的空白行上，活動結束後，
              您才能再記起來彼此交談過的內容，也可做為日後聯絡或約會的聊天話題資訊。
          </p>
      </li>
      <li>
          尋找共同話題
          <p>
              平常多看時事、新聞話題、雜誌等，增加話題多元性。講話時，適當做球給對方回，一問一答的交流才不會冷場。
          </p>
      </li>
      <li>
          勿探人隱私
          <p>
              初次聊天涉及隱私性的問題切勿深入過問，如服務單位的名稱、工作年收入、感情生活、家庭生活等。
          </p>
      </li>
      <li>
          採取主動
          <p>
              聯誼茶會中男生可主動為女生服務，讓對方感受到你的「用心、體貼」，如幫忙端取茶點、清理桌面等，女生對男生投以善意的微笑，都是增加好感的好方法。
          </p>
      </li>
      <li>
          適度的讚美
          <p>
              適度的讚美不但能夠緩和尷尬的場面，也能表達你（妳）對他（她）的好感，但這樣的讚美絕對不是要你拼命拍對方馬屁喔！而且在稱讚對方時，別忘了把自己加進去，把「你（妳）很幽默耶！」改成「我覺得你（妳）很幽默！」，會更能表現出你對他的欣賞喔！
          </p>
      </li>
      <li>
          勿拘泥於制式化
          <p>
              談話時勿流於制式化，適時增加談話內容，保持幽默話語能增使談話內容增添歡笑氣氛。
          </p>
      </li>
      <li>
          察言觀色
          <p>
              勿口若懸河，大肆吹噓，也不要抱怨連連，請聆聽對方聲音，注意對方有無回應。
          </p>
      </li>
  </ol>

</div>
