<div class="jumbotron" style="background-color:pink;">
  <h2>台北單身派對--聯誼活動前的行前須知</h2>
  <hr />
 <p>
      【聯誼方式說明】
  </p>
  <p>
      台北單身派對聯誼活動，不是婚友社，不是婚姻介紹所，我們不會收取任何的入會費或會員費等，
      故無須繳納任何大額(幾千元或幾萬元)會員費/註冊費，只有報名參加未婚聯誼活動時，
      才有收取活動餐點費用(約４００～８００元左右)。
  </p>
  <p>
      以室內茶會換桌聯誼方式，每桌的交談時間約在１０～３０分鐘左右，為保留更多時間讓彼此能相互了解交流，
      故會中不會有遊戲或唱歌跳舞等活動，純粹以互相交談為主，若您在交談中對某人有好感，
      也可以透過我們的網頁投票給對方，會後也可以透過我們的留言板留言給對方，讓您有更多的機會認識新的朋友！
  </p>
  <hr>
  <p>
    【聯誼餐點】
　</p>
　<p>
      茶會中提供咖啡/紅茶無限暢飲，每人皆享用精緻蛋糕乙份或餐廳提供的餐點。
  </p>

  <hr>
  <p>
      【活動流程】
  </p>
  <p>
      準時報到、資料驗證→主持人告知活動坐位桌號→開始換桌聯誼活動→活動中可以用手機輸入喜歡的心怡編號或留言→結束今天快樂的聯誼會（活動流程將視當日活動情況，適時調整）。
  </p>
  <p>
      請於活動開始時間前完成報到，請勿遲到，以免擔誤您活動中認識聯誼對象的機會，如當日臨時不克前來，亦請以電話或ＬＩＮＥ告知我們。
  </p>
  <p>
      活動花絮會經馬賽克處理，以模糊方式呈現網頁上，請大家放心，不會洩漏您個人的照片。
  </p>
  <hr>
  <p>
    【身分確認】
  </p>
  <p>
      第一次參加活動者，請一定要攜帶身分證正本、畢業證書影本、以驗證身分。
  </p>
  <p>
      第二次參加者攜帶身分證正本即可。
  </p>
  <p>
      未帶身分證正本者，本會有權禁止您參加這一場次的活動。
  </p>
  <hr />
  <p>
      【新人註冊】
  </p>
  <p>
      新人首次使用請先去註冊為新會員，才可以開始本系統的各項功能，如配對或投票或報名參加活動等。
      個人資料請誠實填寫完整，愈清楚完整愈能讓對方清楚看到您的個人條件，則聯誼成功配對或找到另一半的機會也就會愈大。
  </p>
  <p>
      關於您於線上登錄的資料我們會依「電腦處理個人資料保護法」受到保護，不會洩漏您個人資料。
  </p>
  <hr />
  <p>
      【手機現場投票配對及互相留言對話】
  </p>
  <p>
      活動當天及之後一個月內，電腦系統會開放限制，每一位參加者皆可現場直接透過手機或電腦，
      投票給最多５位的心怡者，向對方表示我想和您認識交朋友，您也可以去留言區給心怡對象留言。
  </p>
  <p>
      在活動中，也可以現場查詢和我配對的人，及有投票給我的人。
      也許您没有配對成功，但因有投票給您的人，已經先對您表達交友的意願，
      也許您也可以主動和對方連絡看看，也許會有很不一樣的好結果。
  </p>
  <p>
      我們借由電腦程式的強大及手機通訊的便利，讓在現場活動活動的人，皆能即時知道投票配對的情況，
      也許活動結束的當下，就可以互相邀約一起去用餐或喝個咖啡，增進彼此了解的機會。
  </p>
  <hr />
  <p>
      【報名繳費程序】
  </p>
  <p>
      報名後須於３日內繳費，繳費後請回程式中，回報您的繳費日期、繳費銀行、及帳號後5碼等，
      我們會以此審核您的繳費資料，以確定您已經完成報名手續。
  </p>
  <p>
      超過時間尚未繳款恕不保留，依匯款之先後順序決定正取、備取人員，請多利用ＡＴＭ提前匯款。
  </p>
  <p>
      每一位參與者，皆需線上報名成功及完成繳費，本站才會保留名額。
  </p>
  <hr />
  <p>
      【退費方式】
  </p>
  <p>
      如您於活動前因故確定無法出席活動，請以手機簡訊或電話告知我們，
      您的 １.大名 ２.報名日期 ３.銀行名稱及代碼和帳號 ４.已繳費金額。
      我們將以收到通知信件之日期做為退費計算日，退費計算方式如下：
      <ol>
          <li>
              活動當日或前１日告知無法參加者，恕無法退款、保留、轉讓。
          </li>
          <li>
              活動前２〜７日告知者，可選擇：<br />
              (i)可退活動費用５０％。<br />
              (ii)延至下一場次（費用多退少補，更改後恕無法變更）。
          </li>
          <li>
              活動前８日告知者，可選擇：<br />
              (i)全額退費。<br />
              (ii)延至下一場次（費用多退少補，更改後恕無法變更）。
          </li>
      </ol>
  <p>
      活動退款對象必須確為本人帳戶，恕無法退款至父母或好友帳戶。
  </p>
  <hr />
  <p>
      【女性同行優惠方案】
  </p>
  <p>
      若是結伴同行之女性，請於報名時於『同行者姓名』欄位上告知同行者姓名。我們會優惠每人５０元，並於現場退費。若其一人因故未到，則無法享有優惠。
  </p>
  <hr />
  <!-- <p>
      【其他建議】
  </p>
  <p>
      如您對我們的活動規劃的場次，地點，或學經歷或出生年次限制有任何建議，
      歡迎透過<a href="mailto:tw0988380329@gmail.com">電子郵件</a>或 @Html.ActionLink("留言版", "index", "MA2NOT10")提供給我們參考。
  </p> -->


</div>
