<div class="jumbotron container-fluid">
  <div class="row">
    <div *ngFor="let party of partyList" class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card mb-5">
        <app-party-card [party]="party"></app-party-card>
        <a class="btn btn-primary w-100 " [routerLink]="['/party/detail/',party.partyId]" role="button">派對活動相片</a>
        <a class="btn btn-info w-100 " [routerLink]="['/party/detail/',party.partyId]" role="button">投票配對成果</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">

  </pagination>
</div> -->
