/*
.app-header {
  position: fixed;
  top: 0;
  z-index: 2;
}

.toolbar-seprator {
  flex: 1 1 auto;
}

.sidenav-container {
  position: absolute;
  padding-top: 64px;
}

.app-sidenav {
  width: 200px;
}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}
*/
