<div class="jumbotron container-fluid ">
  <div class="row">
    <h1 class="text-center">{{user?.userName}} 的個人資料</h1>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <app-member-card [user]="user"></app-member-card>
        <div class="card-footer">
          <button class="btn btn-primary btn-block" (click)="sendLike(user.userId)"><i class="fa fa-heart"></i>&nbsp;
            我要投票給這個人</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="tab-pannel">
        <tabset class="member-tabset" #memberTabs>
          <tab heading="個人資料">
            <div class="member-detail">
              <p><strong>身份類別: {{user.marry|marry}}</strong> </p>
              <p><strong>我的年齡: {{user.age}}</strong></p>
              <p><strong>我的身高: {{user.heights}} CM</strong> </p>
              <p><strong>我的體重: {{user.weights}} KG</strong> </p>
              <p><strong>我的年薪: {{user.salary}} 萬</strong></p>
              <p><strong>我的血型: {{user.blood}}</strong> </p>
              <p><strong>我的星座: {{user.star}}</strong></p>
              <p><strong>最高學歷: {{user.education | education}}</strong></p>
              <p><strong>畢業學校: {{user.school}}</strong> </p>
              <p><strong>畢業科系: {{user.subjects}}</strong> </p>
              <p><strong>職業類別: {{user.jobType}}</strong> </p>
              <p><strong>居住城市: {{user.city}}</strong></p>
              <p><strong>宗教信仰: {{user.religion}}</strong> </p>
            </div>
          </tab>
          <tab heading="自我介紹">
            <div class="member-introduction">
              <h4>自我介紹</h4>
              <p>{{user.introduction}}</p>
              <hr>
              <h4>尋找對像</h4>
              <p>{{user.likeCondition}}</p>
            </div>
          </tab>
          <tab heading="相片瀏覽">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="我要留言">
            <app-member-message [recipientId]="user.userId" [partyId]="currentPartyId"></app-member-message>
          </tab>
        </tabset> 
      </div>
    </div>
  </div>
</div>
<!--
<accordion>
  <accordion-group heading="個人資料">
  </accordion-group>
  <accordion-group heading="自我介紹">
  </accordion-group>
  <accordion-group heading="相片瀏覽">
  </accordion-group>
  <accordion-group heading="相片瀏覽">
  </accordion-group>
</accordion>
-->
