<div class="jumbotron container-fluid" style="background-color:pink;">
  <h2>聯誼活動後的聯絡及約會須知</h2>
  <hr />
  <p>
      單身朋友在參加完聯誼活動之後，對於有好感的朋友會進一步嘗試邀約，不論是男約女或女約男，
      在約會時應該多注意一些事項，茲列舉下列數點：
  </p>
  <ol>
      <li>
          先了解後再邀約
          <p>
              可先藉由line、facebook、電話、電子郵件等，有比較多的互動交流，待多加了解後再邀約，將有助於約會行程的安排。
          </p>
      </li>
      <li>
          準時赴約
          <p>
              約會時準時赴約，切勿遲到。
          </p>
      </li>
      <li>
          慎選約會地點
          <p>
              不管是約在哪裡地點很重要，尤其是女性首重安全，赴約前應瞭解約會行程，並選擇約會安全地點。此外，交通方便性、環境舒適都是需考量的地方。
          </p>
      </li>
      <li>
          妥善規劃行程
          <p>
              需事先做好行程規劃，和對方能有完整討論，找出一個雙方都方便、喜歡的地點。
          </p>
      </li>
      <li>
          保持良好精神
          <p>
              如確定已與對方約好，前一晚勿熬夜，務必有充足睡眠，保持最佳體力。
          </p>
      </li>
      <li>
          穿著得宜
          <p>
              外表是第一印象，出門前記得注意服裝儀容，保持儀容整齊、乾淨，外在的修飾與穿著有助於讓自己更為亮麗。
          </p>
      </li>
      <li>
          注意禮貌
          <p>
              約會時注意言談舉止端莊得宜，並注意禮節，如出遊時可貼心的幫女生打開車門。
          </p>
      </li>
      <li>
          禁忌上的話題
          <p>
              約會聊天內容通常多是五花八門，可以是一些有趣活潑的，如喜愛的活動、喜歡的電影、閱讀、運動、興趣、
              從事的工作都可以是話題，但一些比較禁忌上的話題，如身家背景調查、前段感情、政治、收入等，
              太私人的話題儘量不要提。
          </p>
      </li>
      <li>
          保持高度警覺性
          <p>
              保持高度警覺性，赴約前告訴家人前往地點，約會對象及返家時間。約會時若中途離座，應機靈警覺不可再喝該飲料(並拒絕飲酒)。
          </p>
      </li>
  </ol>

</div>
